

//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter_horizontal: 6rem;

// font-family: 'Cinzel', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Raleway', sans-serif;

$bg-color-dark: #333230;
$bg-color-dark2: #2B2B2B;
$bg-color-gray: #f2eee9;
$bg-color-light: #fffdfb;
//#423F3E
$color-gray-700: #262423;
$color-gray-600: #595856;
// $color-gray-600: #8c8987;
$color-gray-500: #8C8987;
$color-gray-400: #BFBCB8;
$color-gray-300: #8c8987c7;
$color-gray-200: #F2EEE9;

$color-skin-700: #A67F68;
$color-skin-600: #BFA288;
$color-skin-500: #D9C3B0;
$color-skin-400:#d9c3b059;


