.nav{

  grid-column: full-start/ full-end;
  grid-row: nav-start/ nav-end;
  // grid-template-columns: minmax(1.5rem , 5vw) 2fr 1fr 1fr 50%;
  z-index: 10;
  border-bottom: 1px solid $color-gray-400;
  // @include MediaBreakpointDown(tab-land){  grid-template-columns: minmax(1.5rem , 5vw) 2fr 1fr 50%;}
  // @include MediaBreakpointDown(tab-port){  grid-template-columns: minmax(1.5rem , 5vw) 2fr 1fr; background-color: $bg-color-light; }
  
  &__text{
    text-transform: uppercase;
    align-self: center;
    font-size: 1.3rem;
    font-weight: 600;
    justify-self: center;
    color: $color-gray-600;
    cursor: pointer;
    grid-column: full-start / span 2;
    // grid-row: 1 /2;
      @include MediaBreakpointDown(tab-port){grid-column: full-start / after-center }
      @include MediaBreakpointDown(xxs){justify-self: start;}

      &:hover{ color: $color-skin-700;}
  }

  .link{
    padding: 0 2rem 0 1rem;
    border-right: 1px solid $color-gray-400;
    border-left: 1px solid $color-gray-400;
    grid-column:  3 / 4;
    // grid-row: 1 /2;
    @include MediaBreakpointDown(tab-land){grid-column:  3 / 5; border-right: none; padding: 0 3rem 0 2rem;}
    @include MediaBreakpointDown(tab-port){grid-column: after-center / full-end }

    &__arrow{
      position: relative;
      span{
        position: absolute;
        left: 100%;
      }
    }
  }

  &__space{

    &--1{
      grid-column: before-center / grid-center;
      @include MediaBreakpointDown(tab-land){ display: none;} 
    }

    &--2{

      grid-column: grid-center / full-end;
      background-color: transparent;
      @include MediaBreakpointDown(tab-port){ display: none;}

    }
  }
}